.choice {
  display: flex;
  align-items: inherit;
  justify-content: center;
  flex-direction: column;
}

.choice h2 {
  color: black;
  font-size: 24pt;
  padding-top: 12px;
}

.choice span {
  padding: 8px;
  font-size: 16px;
}

.choice .setupText a {
  color: #903;
}
